body {
    background-color: darkgray;
}

div#container {
    background-color: gainsboro;
    border-radius: 15px;
    padding: 20px;
    display: inline-block;
}

.row {
    display: flex;
}

div#canvas {
    margin-bottom: 10px;
    width: fit-content;
}

.square {
    width: 5px;
    height: 5px;
    background: white;
    border: 1px solid gainsboro;
}

.red {
    background: red;
}

div#palette {
    margin: 10px 0;
}

#palette .square {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

div#currentColor {
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid white;
}

div#currentColorRow {
    align-items: center;
}
